.student-toolbar{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(27, 30, 34);
  width: 98%;
  max-width: 600px;
  height: 80px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.6);
  background: linear-gradient(to bottom, rgb(42, 43, 46) 0%, rgb(14, 17, 19) 100%);
}
.student-toolbar form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.student-input {
  margin-right: auto;
  margin-left: 20px;
  height: 62%;
  width: calc(100% - 80px);
  justify-items: center;
  border-bottom: 1px solid rgb(255, 0, 140);  
}
.student-input input{
  position: absolute;
  font-size: 16px;
  bottom: 30px;
  padding: 0;
  color: white;
  background: transparent;
  margin-right: auto;
  width: calc(100% - 100px);
  border: none;  
}
.student-submit {
  width: 80px;
  margin-left: auto;
  
}
.student-submit input {
  font-size: 20px;
  height: 100%;
  width: 100%;
  color: white;
  background: transparent;
  border: none;
}

/* .student-toolbar:hover{
  display: block;
} */

.outer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 35%;
}

.outer .student-toolbar {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.5s ease;  
}

.outer:hover .student-toolbar {
  /* display: block; */
  opacity: 1;
}